body {
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif;
      }
      
      /* Navbar styles */
      .navbar {
        background-color: rgba(28, 107, 128, 0.8); /* Use rgba for transparency */
        color: white;
        padding: 12px 8.5px;
        width: 100%;
        z-index: 10;
        font-size: 20px;
      }
      
      /* Navigation links styles */
      .nav-links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      
      .nav-links li {
        position: relative;
      }
      
      .nav-links a {
        text-decoration: none;
        color: white;
        padding: 10px 15px;
        transition: color 0.3s ease; /* Add transition effect */
      }
      
      .nav-links a:hover {
        color: #ffd700; /* Change text color on hover */
      }
      
      /* Dropdown content styles */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(249, 249, 249, 0.95); /* Adjust dropdown background color and transparency */
        color: #1c6b80;
        min-width: 100px;
        z-index: 1001;
        border-radius: 5px; /* Add some border radius for a modern look */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
        list-style: none; /* Remove default list styles */
        padding: 0px;
      }
      
      .dropdown-content li {
        margin: 0; /* Remove any default margin */
      }
      
      .nav-links li:hover .dropdown-content {
        display: block;
        z-index: 10;
        border-radius: 5px;
      }
      
      .dropdown-content a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: #1c6b80;
        transition: background-color 0.3s ease, color 0.3s ease; /* Add transition effects */
      }
      
      .dropdown-content a:hover {
        background-color: #1c6b80;
        color: white;
        border-radius: 5px;
      }
      
      
      
      .hero-section {
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      
      .hero-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3em;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
      
      .maintxt {
        align-items: center;
        align-content: center;
      }
      
      .section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      
      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
        justify-content: center; /* Center the content horizontally */
      }
      
      
      .text1,
      .text2 {
        flex: 1;
        max-width: 400px;
        line-height: 1.5;
        font-size: 20px;
      }
      
      .text1 {
        text-align: left;
        padding-right: 50px; /* Adjust the space between text and image */
      }
      
      .text2 {
        text-align: right;
        padding-left: 50px; /* Adjust the space between text and image */
      }
      .text h2 {
        margin-bottom: 10px;
      }
      
      .image {
        max-width: 45%; /* Adjust the width of the image container */
        text-align: center; /* Center the image horizontally */
        padding: 0; /* Remove padding */
      }
      
      .image img {
        max-width: 100%; /* Adjust the maximum width of the image */
        height: 80%;
        border-radius: 20px;
        object-fit: cover;
        display: block; /* Remove extra space below inline images */
        margin: 0 auto; /* Center the image horizontally */
        transition: transform 1s ease;
      }
      
      .overlay {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
      }
      
      .img-link:hover .overlay {
        opacity: 1;
      }
      
      .img-link:hover {
        opacity: 0.5;
        transition: opacity 1s ease;
      }
      
      .overlay:hover {
        opacity: 1;
        cursor: pointer;
      }
      
      .overlay a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      
      .overlay a:hover {
        color: #ffd700; /* Change text color on hover */
      }
      
      .footer {
        background-color: #1c6b80; /* Background color matching the color wave */
        color: white;
        text-align: center;
        font-size: 16px;
        bottom: 0;
        width: 100%;
        display: flex;
        font-size
      }
      
      .left {
        text-align: left;
        flex: 1;
        padding: 20px;
        margin-right: 10px;
        line-height: 1.5;
      }
      
      .social-icons {
        margin-top: 13px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .fa {
        font-size: 60px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        color: white;
        padding: 0;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        color: white;
        padding: 0;
      }
      
      .right {
        text-align: right;
        margin-left: 10px;
        padding: 20px;
        flex: 1;
        line-height: 1.5;
      }
      
      
      .footer p {
        margin: 5px 0;
      }
      
      .footer a {
        color: white; /* Adjust link color to match the footer text */
        text-decoration: none;
      }
      
      